<header data-aos="fadeIn animated">
    <nav class="nav container-xl">
        <div class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <img src="../../../assets/img/logogeneric.png"  alt="logo" >
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </div>
    </nav>
</header>
