<header class="container-xl">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="" alt="Logo" class="logo">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a >Home</a></li>
                <li><a >Products</a></li>
                <li><a >About</a></li>
                <li><a >Contact</a></li>
                <li><a >Cart</a></li>
                <li><a >Login</a></li>
            </ul>
        </div>
    </nav>
</header>
