<ng-template #modalCart let-modal>
  <article class="modal-body">
    <div class="exit">
      <i (click)="modal.dismiss('Cross click')" class="btn btn-dark"><i class="fas fa-times"></i> </i>
    </div>

    <ul class="list-group mb-3" *ngFor="let product of items">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <img src="{{product.image}}" alt="" height="55px">
        <div>
          <h6 class="my-0">{{ product.name }}</h6>
          <small class="text-muted"></small>
        </div>
        <span class="text-muted">${{ product.price }}</span>
      </li>
    </ul>

    <div class="btn-pay">
      <button class="btn btn-dark mb-3" (click)="goToPay()">
        <i class="fas fa-cart-plus"></i>
        Ir a pagar
      </button>
    </div>

  </article>
</ng-template>
